<header>
<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            <!-- Navbar Brand-->
            <h1 class="navbar-brand ps-3 titulo" >Invasion tropical</h1>
            <!-- Navbar-->
            {% if user.is_authenticated %}
            <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4 position-absolute end-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{% url 'app_usuarios:salir' %}">Cerrar sesion</a></li>
                    </ul>
                </li>
            </ul>
            {% endif %}
        </nav>
</header>