{% extends "base/layout.html" %}
{% block titulo %}
	Invasion Tropical | Registrar participante
{% endblock %}
{% block contenido %}
<section>
	<div id="layoutAuthentication">
		<div id="layoutAuthentication_content">
			<main>
				<div class="container">
					<div class="row justify-content-center">
						<div class="col-lg-5">
							<div class="card shadow-lg border-0 rounded-lg mt-5">
								<div class="card-header bg-dark">
									<h3 class="text-center font-weight-light my-4 titulo text-white" >
										Nuevo participante
									</h3>
								</div>
								<div class="card-body">
									{%if mensaje%}
										<div class="alert alert-danger" role="alert">
											{{mensaje}}										
									  	</div>
									  	<form action="{% url 'app_participantes:registro' %}" method="POST">
										{% csrf_token %}
										<div class="form-floating mb-3 formulario">
											{{formularioParticipante.as_p}}
										</div>
										<div class="d-flex align-items-center justify-content-between mt-4 mb-0">
											<button class="btn btn-primary" type="submit">
												Registrar
											</button>
											<a class="btn btn-danger"  href="{% url 'app_usuarios:Home' %}">
												Cancelar registro
											</a>
										</div>
									</form>						
									{%endif%}
									<form action="{% url 'app_participantes:registro' %}" method="POST">
										{% csrf_token %}
										<div class="form-floating mb-3 formulario">
											{{formularioParticipante.as_p}}
										</div>
										<div class="d-flex align-items-center justify-content-between mt-4 mb-0">
											<button class="btn btn-primary" type="submit">
												Registrar
											</button>
											<a class="btn btn-danger"  href="{% url 'app_usuarios:Home' %}">
												Cancelar registro
											</a>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</main>
		</div>
	</div>
</section>
{% endblock %}