{% extends "base/layout.html" %}
{% block titulo %}
	Invasion Tropical | Lista de participantes
{% endblock %}
{% block contenido %}
	<section>
        <div class="container">
		    <div>
				<h1>Cupones vendidos</h1>

		    	<a href="{% url 'app_usuarios:Home' %}"> Volver al inicio</a>
		    </div>
		    <div class="table-responsive">
			    <table class="table" id="datatable-admin">
				   <thead>
						<tr>
							<th>
								Nombre
							</th>
							<th>
								Apellido
							</th>
							<th>
								DNI
							</th>
							<th>
								Contacto
							</th>
							<th>
								Direccion
							</th>
							<th>
								Cupon
							</th>
							{% if staff == True %}
								<th>
									Vendedor
								</th>
								<th>
									Fecha y hora de la venta
								</th>
							{% endif %}
						</tr>
				   </thead>
				   <tbody>
				   		{% for participante in listado %}
					   		<tr>
					   			<td>
					   				{{participante.nombre}}
					   			</td>
					   			<td>
					   				{{participante.apellido}}
					   			</td>
					   			<td>
					   				{{participante.dni}}
					   			</td>
					   			<td>
					   				{{participante.nro_telefono}}
					   			</td>
					   			<td>
					   				{{participante.direccion}}
					   			</td>
					   			<td>
					   				{{participante.nro_cupon}}
					   			</td>
					   			{% if staff == True %}
					   				<td>
					   					{{participante.creacion_usuario}}
					   				</td>
					   				<td>
					   					{{participante.creacion_fecha}}
					   				</td>
					   			{% endif %}
					   		</tr>
				   		{% endfor %}
				   		
				   </tbody> 
				</table>
			</div>
    	</div>
    </section>
{% endblock %}