{% extends "base/layout.html" %}
{% block titulo %}
	Invasion Tropical | Inicio
{% endblock %}
{% block contenido %}
	<section>
		<div class="container">			
			<div id="layoutSidenav_content">
	                <main>
	                    <div class="container-fluid px-4">
	                        <h1 class="mt-4">Bienvenido {{user.get_username}}</h1>
	                        <ol class="breadcrumb mb-4">
	                            <li class="breadcrumb-item active">Panel de control</li>
	                        </ol>
	                        <div class="row">
	                            <div class="col-xl-3 col-md-6">
	                                <div class="card bg-primary text-white mb-4">
	                                    <div class="card-body">
											Registrar participante
											<span>
												<i class="fas fa-edit"></i>
											</span>
										</div>
	                                    <div class="card-footer d-flex align-items-center justify-content-between">
	                                        <a class="small text-white stretched-link" href="{% url 'app_participantes:registro' %}">Añadir participante</a>
	                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
	                                    </div>
	                                </div>
	                            </div>
	                            <div class="col-xl-3 col-md-6">
	                                <div class="card bg-warning text-white mb-4">
	                                    <div class="card-body"> Ultimo cupon vendido : {{cupon.nro_cupon}}</div>
	                                    <div class="card-footer d-flex align-items-center justify-content-between">
	                                        <h3 class="small text-white stretched-link" >Cantidad de cupones vendidos: {{ cupones_vendidos }}</h3>
	                                    </div>
	                                </div>
	                            </div>
	                          	 <div class="col-xl-3 col-md-6">
	                                <div class="card bg-success text-white mb-4">
	                                    <div class="card-body">
											Cupones vendidos
											<span>
												<i class="far fa-list-alt"></i>
											</span>
										</div>
	                                    <div class="card-footer d-flex align-items-center justify-content-between">
	                                        <a class="small text-white stretched-link" href="{% url 'app_participantes:lista' %}">
										    	Lista de cupones vendidos
										    </a>
	                                       	<div class="small text-white"><i class="fas fa-angle-right"></i></div>
	                                    </div>

	                                </div>
                                 </div>
	                                 {% if staff == True%}
		                                <div class="col-xl-3 col-md-6">
		                                	<div class="card bg-success text-white mb-4">
			                                    <div class="card-body">
													Añadir usuario
													<span>
														<i class="far fa-list-alt"></i>
													</span>
												</div>
			                                    <div class="card-footer d-flex align-items-center justify-content-between">
			                                        <a class="small text-white stretched-link" href="{% url 'app_usuarios:usuario_nuevo' %}">
												    	Registrar usuario nuevo
												    </a>
			                                       	<div class="small text-white"><i class="fas fa-angle-right"></i></div>
			                                	</div>
			                                </div>
		                                </div>
	                               	{% endif %}

	                        <div class="col-xl-3 col-md-6 table-responsive">
	                          		<table class="table table-bordered">
	                          			<thead class="bg-dark">
	                          				<tr>
	                          					<th class="text-white">
	                          						Cupones vendidos
	                          					</th>
	                          				</tr>
	                          			</thead>
	                          			<tbody>
	                          				{% for cupon in lista_cupon %}
		                          				<tr>
		                          					<td>
		                          						{{ cupon.nro_cupon }}
		                          					</td>
		                          				</tr>
	                          				{% endfor %}
	                          			</tbody>
	                          		</table>
	                          	</div>
	                    </div>
	                </main>
	            </div>
	        </div>
		</div>
	</section>
{% endblock %}
