@import url('https://fonts.googleapis.com/css2?family=Amaranth&family=Titillium+Web&display=swap');

*{
    font-family: 'Titillium Web', sans-serif;
}
.titulo{
    font-family: 'Amaranth', sans-serif;
}
.formulario label{
    display: table-row;
}
.formulario input{
    width: 100%;
	margin-top:1em;
	margin-bottom:1em;
	padding: 12px 20px;
}
