{% extends "base/layout.html" %}
{% block titulo %}
	Invasion Tropical | Iniciar sesion
{% endblock %}
{% block contenido %}
<section>
<div id="layoutAuthentication">
    <div id="layoutAuthentication_content">
        <main>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-5">
                        <div class="card shadow-lg border-0 rounded-lg mt-5">
                            <div class="card-header bg-dark">
                                <h3 class="text-center font-weight-light my-4 titulo text-white" >
                                    Iniciar sesion
                                </h3>
                            </div>
                            <div class="card-body">
                                <form action="{% url 'login' %}" method="POST">
                                	{% csrf_token %}
                                    <div class="form-floating mb-3 formulario">
                                    	{{form.as_p}}
                                    </div>
                                    <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
                                        <button class="btn btn-primary" type="submit">
                                            Ingresar
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
</section>	 
{% endblock %}