{%extends "base\layout.html"%}
{% block titulo %}
	Invasion Tropical | Sesion finalizada
{% endblock  %}
{% block contenido %}
	<section>
		<div>		
			<h1>
				Has finalizado tu sesion
			</h1>
			<a href="#">
				Volver a iniciar sesion.
			</a>
		</div>
	</section>
{% endblock contenido %}